.last-purchase{
    width: 350px;
    padding: 10px 25px;
    text-align: center;
    img{
        height: 200px;
        width: 300px;
        display: block;
    }
    .lp-card{
        border: 1px solid rgb(255, 255, 255);
        margin-bottom: 10px;
    }
    .lp-desc{
        display: block;
    }
    .heading{
        text-align: center !important;
    }
}

.earnings{
    margin-top: 45px;
}
.best-selling{
    width: 350px;
    padding: 10px 25px;
    text-align: center;
    img{
        height: 200px;
        width: 300px;
        display: block;
    }
    .lp-card{
        border: 1px solid rgb(255, 255, 255);
        margin-bottom: 10px;
    }
    .lp-desc{
        display: block;
    }
    .heading{
        text-align: center !important;
    }
}