.home-heading{
    margin-top: 50px;
}
.fa-check{
    color: green;
    padding-left: 20px!important;
}
.fa-times{
    color: darkred;
    padding-left: 20px!important;
}
.quan{
    padding-left: 40px!important;
}
table{
    color: #fff !important;
}